html{
    scroll-behavior: smooth;
    cursor: none;
    background: url(./background\ \(1\).png) center fixed no-repeat;
}
:root{

    --COLOR-BLACK: #000000;
    --COLOR-WHITE: #ffffff;
    /* --COLOR-GRAY: #ff0000; */

    --BACKGROUND--1:url(./backgrounds/backgroundoriginal.svg);
    --BACKGROUND-0:url(./backgrounds/bauhausyellow.png);
    --BACKGROUND-1:url(./backgrounds/bauhaus1923.png);
    --BACKGROUND-2:url(./backgrounds/bauhausblue.png);
    --BACKGROUND-3:url(./backgrounds/bauhaussun.png);
    --BACKGROUND-4:url(./backgrounds/bauhausblueeye.png);
    --BACKGROUND-5:url(./backgrounds/bauhausgreen.png);
    --BACKGROUND-6:url(./backgrounds/bauhausPINK.png);

    --TRANSITION-1: all 0.7s ease;
    
    --BGR-MIN-WIDTH:100px;
    --BGR-MIN-HEIGHT:400px;

    --BGR-MAX-WIDTH:80vw;
    --BGR-MAX-HEIGHT:600px;

    --FONT-SOVIETIC:'soviet_programbold';

    --BORDER-RADIUS:25px;
    --BORDER-RADIUS-B:222px;
    --BORDER-RADIUS-STYLE: solid;

}

@font-face {
    font-family: 'soviet_programbold';
    src: url(./sovietprogram-bold-webfont.woff2) format('woff2'),
         url(./sovietprogram-bold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;


}
::-webkit-scrollbar{
    display: none;
}

a{
    cursor: none;
}

body{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

#header{
    
    height: 100vh;
    width: 80vw;
}


nav{
    display: flex;
    position: fixed;
    margin-top: 20px;
    width: 80vw;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    border-style: solid;
    border-color: #00000078;
    z-index: 3;
    backdrop-filter: blur(30px);
}

#logo{}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 400px;
    list-style: none;
    margin: 0;
}

.nav-li{
    color: var(--COLOR-BLACK);
    font-family: monospace;
    font-size: 1rem;
    padding: 1rem 0.5rem;
}

 .nav-li a:hover{
    color: var(--COLOR-GRAY);
    transition: all 0.5s ease;
    
}

.nav-li:hover{
    color:var(--COLOR-GRAY);
    transition: all 0.5s ease;
    
}

.nav-li a{
   text-decoration: none;
   color: rgb(0, 0, 0);
   padding: 1rem 0.5rem;   
}

#hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
}

#since{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 1.4rem;
    font-family:'Courier New', Courier, monospace;
    color: #1a1a1a;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#since-p{
    font-size: 1.3rem;
    height: fit-content;
}

.sinceLine{
    transform: rotate(90deg);
    margin-bottom: 50px;
    margin-top: 50px;
    width: 90px;
}

path{
    fill: #4b4758;
}

#hero_img{
    padding: 2rem 1rem 2rem 0rem; 
    transform: scale(.8);  
}


#card-div{
    padding: 3rem 2rem;
    background-color: #00000014;
    backdrop-filter: blur(6px);
    border-radius: 50px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    border-color: #5a4972;
    mix-blend-mode: difference;
}

#title{
    font-family:'Montserrat', sans-serif;
    font-size: 3rem;
    color: #434343;
    margin: 0.5rem;
}

#subtitle{
    font-family:'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #4b4758;
    margin: 0.5rem;
}

#subtitle2{
    font-family:'Montserrat', sans-serif;
    font-size: 1rem;
    color: #4b4758;
    margin: 1rem;
}


  #p1{
    font-family: 'Courier New', Courier, monospace;
    color: #40009a;
    width: 70%;
    font-size: 1.2rem;
    text-align: left;
    height: fit-content;
    line-height: normal;
}





#asesoriavirtual{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #b23900;
}


#section2{}

#section3{}

#section4{}

#section5{}

footer{}






.perspective-text {
  color: white;
  font-family: Arial;
  font-size: 58px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}

.perspective-line:nth-child(odd) {
  transform: skew(300deg, 30deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
  transform: skew(180deg, 30deg) scaleY(1.337);
}

.perspective-text:hover p {
  transform: translate(0, -50px);
}

.perspective-line:nth-child(1) {
  left: 29px;
  mix-blend-mode: overlay;
}

.perspective-line:nth-child(2) {
  left: 135px;
  background: #f07e6e;
  mix-blend-mode:overlay;
}

.perspective-line:nth-child(3) {
  left: 87px;
  background: #84cdfa;
  mix-blend-mode: overlay;
}

.perspective-line:nth-child(4) {
  left: 46px;
  background: #5ad1cd;
  mix-blend-mode: overlay;
}

.perspective-line:nth-child(5) {
  left: 19px;
  mix-blend-mode: overlay;
}