@font-face {
    font-family: 'soviet_programbold';
    src: url(index\css\sovietprogram-bold-webfont.woff2) format('woff2'),
         url(index\css\sovietprogram-bold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

#p{
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    color: white;
    font-size: 3.5rem;
    display: inline-block;
    margin-top: -5rem;
    padding-inline-start: 10px;
    text-transform: uppercase;
    
    /* text-align: end;
    text-align-last: center; */
}

#h{
    margin: 0;
}